<!-- ======= About Me Section ======= -->
<main id="main">
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <span>About Me</span>
        <h2>About Me</h2>
        <p><strong>Technologies:</strong> HTML, CSS, Bootstrap,
          JavaScript, SASS, MySQL, TypeScript & Angular</p>
      </div>

      <div class="row">
        <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
        <div class="col-lg-8 d-flex flex-column align-items-stretch">
          <div class="content pl-lg-4 d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <!-- <li><i class="icofont-rounded-right"></i> <strong>Name:</strong> Bassam Saedy</li> -->
                  <li><i class="icofont-rounded-right"></i> <strong>Website:</strong>
                    https://bassam-saedy.netlify.app/</li>
                  <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Tarragona, Spain</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Education:</strong> Information Processing</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <!-- <li><i class="icofont-rounded-right"></i> <strong>Technologies:</strong> HTML, CSS, Bootstrap,
                  JavaScript, SASS, MySQL, TypeScript & Angular</li> -->
                  <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> basaidi@gmail.com</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Languages:</strong> English, Spanish & Arabic</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                </ul>
              </div>
            </div>
            <div class="row mt-n4">
              <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-simple-smile" style="color: #20b38e;"></i>
                  <span data-toggle="counter-up">1</span>
                  <p><strong>Happy Client</strong> Using WordPress</p>
                </div>
              </div>

              <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-document-folder" style="color: #A53D3D;"></i>
                  <span data-toggle="counter-up">5</span>
                  <p><strong>Projects</strong> Awesomely done</p>
                </div>
              </div>

              <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-clock-time" style="color: #2cbdee;"></i>
                  <span data-toggle="counter-up">1</span>
                  <p><strong>Year of experience</strong> As a self-taught Web Developer</p>
                </div>
              </div>

              <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-award" style="color: #ffb459;"></i>
                  <span data-toggle="counter-up">0</span>
                  <p><strong>Awards</strong> Not yet!</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>
    </div>
  </section><!-- End About Me Section -->
</main>