/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.page-footer {
  background-color:rgba(27, 35, 44, 0.898);
  color: #fff;
  font-size: 14px;
  height: 60px;
  line-height: 10px;
}

.footer-copyright{
  padding-top:2px !important;
}