/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.page-footer {
  background-color:rgba(27, 35, 44, 0.898);
  color: #fff;
  line-height: 1;
  font-size: 14px;
}

.footer-copyright{
  padding-top:2px !important;
}