<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <h1 @fade>Bassam Saedy</h1>
    <h2 @fade>Front-End Web Developer</h2>

    <!-- Icons -->
    <div class="icons">
      <i @fade class="fab fa-html5" title="HTML5"></i>
      <i @fade class="fab fa-css3-alt" title="CSS3"></i>
      <i @fade class="fab fa-bootstrap" title="Bootstrap"></i>
      <i @fade class="fab fa-sass" title="SASS"></i>
      <i @fade class="fab fa-js-square" title="JavaScript"></i>
      <i @fade class="fab fa-angular" title="Angular"></i>
    </div>
    <!-- <a href="#portfolio" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a> -->
  </div>
</section><!-- End Hero -->