<!-- ======= My Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <span>My Projects</span>
      <h2>My Projects</h2>
      <p>Most of those projects are part of projects I've worked on during my study at IT Academy</p>
    </div>

    <div class="row portfolio-container">

      <!-- Project 1 -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-img"><img src="assets/images/p1.png" class="img-fluid" alt="Bootstrap Project"></div>
        <div class="portfolio-info">
          <h4>Bootstrap Project</h4>
          <p>HTML, CSS & Bootstrap </p>
          <a href="https://github.com/BassamS/Bootstrap-ITA" target="_blank" data-gall="portfolioGallery"
            class="venobox preview-link" title="GitHub"><i class="bx bx-plus"></i></a>
          <!-- <a routerLink="details" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
        </div>
      </div>

      <!-- Project 2 -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-img"><img src="assets/images/p2.png" class="img-fluid" alt=""></div>
        <div class="portfolio-info">
          <h4>JavaScript Project</h4>
          <p>HTML, CSS & JavaScript </p>
          <a href="https://github.com/BassamS/Exercici-Stripes" target="_blank" data-gall="portfolioGallery"
            class="venobox preview-link" title="GitHub"><i class="bx bx-plus"></i></a>
          <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
        </div>
      </div>

      <!-- Project 3 -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-img"><img src="assets/images/p3.png" class="img-fluid" alt=""></div>
        <div class="portfolio-info">
          <h4>API Project</h4>
          <p>HTML, CSS, MySQL & JavaScript </p>
          <a href="https://github.com/BassamS/Exercici-Leaflet-2" target="_blank" data-gall="portfolioGallery"
            class="venobox preview-link" title="GitHub"><i class="bx bx-plus"></i></a>
          <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
        </div>
      </div>

      <!-- Project 4 -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-img"><img src="assets/images/p5.png" class="img-fluid" alt="Bootstrap Project"></div>
        <div class="portfolio-info">
          <h4>WordPress</h4>
          <p>WordPress </p>
          <a href="https://exceconsulting.com/" target="_blank" data-gall="portfolioGallery"
            class="venobox preview-link" title="GitHub"><i class="bx bx-plus"></i></a>
          <!-- <a routerLink="details" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
        </div>
      </div>

      <!-- Project 5 -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-img"><img src="assets/images/portfolio.png" class="img-fluid" alt=""></div>
        <div class="portfolio-info">
          <h4>Angular Project</h4>
          <p>HTML, CSS, Angular </p>
          <a href="https://bassam-saedy.netlify.app/" target="_blank" data-gall="portfolioGallery"
            class="venobox preview-link" title="GitHub"><i class="bx bx-plus"></i></a>
          <a href="https://github.com/BassamS/Portfolio" target="_blank" class="details-link" title="GitHub"><i
              class="bx bx-link"></i></a>
        </div>
      </div>

      <!-- Project 6 -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-img"><img src="assets/images/p6.png" class="img-fluid" alt=""></div>
        <div class="portfolio-info">
          <h4>Rockets Project</h4>
          <p>HTML, TypeScript </p>
          <a href="https://github.com/BassamS/Rockets" target="_blank" data-gall="portfolioGallery"
            class="venobox preview-link" title="GitHub"><i class="bx bx-plus"></i></a>
          <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
        </div>
      </div>

    </div>
  </div>
</section><!-- End My Portfolio Section -->