<!-- ======= My Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <span>My Resume</span>
      <h2>My Resume</h2>
      <p>Humanitarian logistician by chance, <em>Web Developer by determination!</em></p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Profile</h4>
          <p><em>Passionate Front-end web developer, a new career reflecting high capacity in self re-invention and
              adaptation to new life settings and challenges.</em></p>
          <p>20+ years experience working in relief and development field with reputable local and international
            organizations.</p>

          <p>Excellent organization, management, communication, analytical, multitasking, listening and negotiation
            skills.</p>
          <p>Able to build and implement sophisticated plans with a proven track record explicitly supporting work
            needs.</p>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Information Processing</h4>
          <h5>1998</h5>
          <p><em>City & Guilds</em></p>
        </div>
        <div class="resume-item">
          <h4>Front-End Web Developer</h4>
          <h5>2020</h5>
          <p><em>IT Academy - Cibernarium</em></p>
        </div>
        <div class="resume-item">
          <h4>Modern JavaScript</h4>
          <h5>2020</h5>
          <p><em>Udemy</em></p>
        </div>
        <div class="resume-item">
          <h4>The Complete Web Developer</h4>
          <h5>2019</h5>
          <p><em>Udemy</em></p>
        </div>
        <div class="resume-item">
          <h4>Appreciating Diversity</h4>
          <h5>2015</h5>
          <p><em>Care International</em></p>
        </div>
        <div class="resume-item">
          <h4>Public Relations</h4>
          <h5>2010</h5>
          <p><em>London School of Public Relations and Branding</em></p>
        </div>
        <div class="resume-item">
          <h4>Psychological Support</h4>
          <h5>2005</h5>
          <p><em>International Federation of Red Cross and Red Crescent Societies, Lebanese Red Cross</em></p>
        </div>
        <div class="resume-item">
          <h4>Logistics Training</h4>
          <h5>2003</h5>
          <p><em>International Federation of Red Cross and Red Crescent Societies</em></p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Operations Manager - Rapid Response Team</h4>
          <h5>2019</h5>
          <p><em>Care International</em> (Beira, Mozambique)</p>
          <div>
            <ul>
              <li>Overall management of the operations within the framework of Cyclone Idai Rapid Response Team.</li>
            </ul>
          </div>
        </div>
        <div class="resume-item">
          <h4>Implementation Manager</h4>
          <h5>2015 - 2016</h5>
          <p><em>Adam Smith International</em> (Syria response – Gaziantep, Turkey)</p>
          <div>
            <ul>
              <li>Supporting the integration and formalization of civil institutional structures into emerging national
                frameworks.</li>
            </ul>
          </div>
        </div>
        <div class="resume-item">
          <h4>Senior Operations Coordinator</h4>
          <h5>2015</h5>
          <p><em>Adam Smith International</em> (Syria response – Gaziantep, Turkey)</p>
          <div>
            <ul>
              <li>Organizing logistics and supply chains for distribution and export of equipment.</li>
            </ul>
          </div>
        </div>
        <div class="resume-item">
          <h4>Equipment Manager</h4>
          <h5>2015</h5>
          <p><em>Adam Smith International</em> (Syria response – Gaziantep, Turkey)</p>
          <div>
            <ul>
              <li>Supporting Equipment Distribution, Warehouses Management.</li>
            </ul>
          </div>
        </div>
        <div class="resume-item">
          <h4>Interim Program Manager</h4>
          <h5>2015</h5>
          <p><em>Care International</em> (Syria response – Gaziantep, Turkey)</p>
          <div>
            <ul>
              <li>Authorize all necessary Project site expenditure within Country Office “Limits of Authority” table and
                ensure that Project expenses are kept to a minimum consistent with sound administrative and financial
                practices.</li>
            </ul>
          </div>
        </div>
        <div class="resume-item">
          <h4>Logistics & Admin Officer</h4>
          <h5>2014</h5>
          <p><em>Care International</em> (Syria response – Gaziantep, Turkey)</p>
          <div>
            <ul>
              <li>Managing the warehouses stock, vehicles movements, Purchase Requests.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End My Resume Section -->